In [1]:
import pandas as pd
from openpyxl import load_workbook

In [ ]:
wb = load_workbook(filename='data/climate_change_download_0.xlsx')
ws = wb.get_sheet_by_name('Data')

In [ ]:
for row in ws.rows: # Cells of each row are also iterable, like how the rows of the worksheet are iterable
    for cell in row:
        print(cell.value)

In [2]:
df = pd.read_excel('data/GHE_DALY_Global_2000_2012.xls', sheet_name='Global2012', header=[4,5])
df.head()

                        Unnamed: 0_level_0  \
                        Unnamed: 0_level_1
Population (thousands)                 NaN
Live births (thousands)                NaN
GHE code                               NaN
0                                      NaN
1                                       I.

                                                        Unnamed: 1_level_0  \
                                                        Unnamed: 1_level_1
Population (thousands)                                                 NaN
Live births (thousands)                                                NaN
GHE code                                                GHE cause category
0                                                               All Causes
1                        Communicable, maternal, perinatal and nutritio...

                        Unnamed: 2_level_0 Unnamed: 3_level_0       Sex  \
                        Unnamed: 2_level_1 Unnamed: 3_level_1 Age group
Population (thousands)                 NaN                NaN       NaN
Live births (thousands)                NaN                NaN       NaN
GHE code                               NaN                NaN       NaN
0                                      NaN                NaN       NaN
1                                      NaN                NaN       NaN

                           Both sexes         Male                           \
                                Total    0-27 days  1-59 months  5-14 years
Population (thousands)   7.075456e+06       5763.0     332149.0    625624.0
Live births (thousands)  1.385844e+05          NaN          NaN         NaN
GHE code                          NaN          NaN          NaN         NaN
0                        2.743857e+09  143983755.0  197617977.0  98836963.0
1                        9.257279e+08  128450759.0  156441150.0  44489171.0

                                          ...                          Female  \
                         15-29 years      ...              Total    0-27 days
Population (thousands)      921699.0      ...       3.566434e+06       5377.0
Live births (thousands)          NaN      ...                NaN          NaN
GHE code                         NaN      ...                NaN          NaN
0                        188247692.0      ...       1.483068e+09  118565255.0
1                         36770548.0      ...       4.820031e+08  105137758.0

                                                                            \
                         1-59 months  5-14 years  15-29 years  30-49 years
Population (thousands)      309866.0    584513.0     876126.0     943696.0
Live births (thousands)          NaN         NaN          NaN          NaN
GHE code                         NaN         NaN          NaN          NaN
0                        176110873.0  88394698.0  156673253.0  229716344.0
1                        139803918.0  42367766.0   49897548.0   60247182.0


                         50-59 years  60-69 years    70+ years         Total
Population (thousands)      348072.0     230746.0     210626.0  3.509022e+06
Live births (thousands)          NaN          NaN          NaN           NaN
GHE code                         NaN          NaN          NaN           NaN
0                        129244538.0  134490498.0  227594025.0  1.260789e+09
1                         15057263.0   12460369.0   18752980.0  4.437248e+08

[5 rows x 24 columns]

In [3]:
df.columns # Multi index columns (notice the levels)

MultiIndex(levels=[['Both sexes', 'Female', 'Male', 'Sex', 'Unnamed: 0_level_0', 'Unnamed: 1_level_0', 'Unnamed: 2_level_0', 'Unnamed: 3_level_0'], ['0-27 days', '1-59 months', '15-29 years', '30-49 years', '5-14 years', '50-59 years', '60-69 years', '70+ years', 'Age group', 'Total', 'Unnamed: 0_level_1', 'Unnamed: 1_level_1', 'Unnamed: 2_level_1', 'Unnamed: 3_level_1']],
           labels=[[4, 5, 6, 7, 3, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1], [10, 11, 12, 13, 8, 9, 0, 1, 4, 2, 3, 5, 6, 7, 9, 0, 1, 4, 2, 3, 5, 6, 7, 9]])

In [4]:
#Exporting
df.to_excel('data/my_new_excel.xlsx')